extends ../withsidebar

block header
  .navbar.navbar-default.navbar-fixed-top.mb-show
    .container
      button#sendbtn.btn.btn-primary.navbar-btn.pull-right(onclick='submitForm()') 更多...
      button.btn.btn-default.navbar-btn(onclick='javascript:window.history.go(-1);return false;') 返回
  .navbar-padding.mb-show

block fixed-buttons
  .pull-right
    .btn-group
      button#btn-refresh.btn.btn-float
        span.glyphicon.glyphicon-share
        | 234
      a#btn-newpost.btn.btn-default.btn-float(href='#', onclick='showComment(event)')
        span.glyphicon.glyphicon-comment
        | 153

block main

  // posts
  .post-cell
    p
      span.pull-right= topic.create
      a(href='/u/#{topic.author.id}', onclick='showComment()')= topic.author.nickname
    p= topic.txt
    p 来自&nbsp;
      a(href='/g/#{topic.group.id}')= topic.group.name
    p
      .btn-group.pull-right
        button.btn.btn-default.mb-hide 转发 156
        button.btn.btn-default.mb-hide 评论 156
        //- button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
        //-   span.caret
        //- ul.dropdown-menu
        //-   li: a(href="#") 收藏
        //-   li: a(href="#") 分享...
        //-   li: a(href="#") 垃圾信息
        //-   li: a(href="#") 查看源文件
      .btn-group
        button.btn.btn-default 赞 1000
        button.btn.btn-default 踩 200

  .reply-cell
    for reply in topic.comments
      span= reply.user.nickname
      p= reply.txt
  form#commentform(action='/topic/comment', method='post')
    input(type='hidden', name='tid', value=topic.id)
    div(style='width:80px;height:100%').pull-right.center-block
      button#sendbtn.btn.btn-primary(style='width:50px;height:100%', type='submit') 发送
    div(style='margin-right:80px')
      textarea#inputText.form-control(name='txt', placeholder='输入内容')
  script.
    var inputText = u.q('#inputText')
    function showComment(e) {
      e.preventDefault();
      inputText.focus();
    }
    inputText.onfocus = function() {
      u.addClass(u.q('#fixed-buttons'), 'hide');
      if(showIntpuTimer) clearTimeout(showIntpuTimer);
    }
    var showIntpuTimer;
    inputText.onblur = function() {
      showIntpuTimer = setTimeout(function(){
        u.removeClass(u.q('#fixed-buttons'), 'hide');
      }, 500);
    }
    u.jsonForm('#commentform', '#sendbtn', function(err, reply) {
      console.log(err);
      console.log(reply);
      u.html('<div><p>#{user.nickname}</p><p>'+reply.txt+'</p></div>', '.reply-cell');
      var input = u.q('#inputText');
      input.value = '';
      input.focus();
      window.scroll(0, 10000)
    })
