extends ../withsidebar
block main
  if !isGroupMember
    .pull-right
      form(action='/g/#{group.id}/join', method='post')
        button.btn.btn-primary(type='submit') 加入
  //- h4 #{group.name} 
  ol.breadcrumb
    li: a(href='/') 首页
    li: a(href='/g/#{group.id}')= group.name
    li.active 管理

  a.btn.btn-primary(href='/g/#{group.id}/refstats') 我的英雄帖
  a.btn.btn-primary(href='/g/#{group.id}/members') 成员管理

  h4 英雄榜

  table
    for iuser, i in users
      tr
        td: a(href='/u/#{iuser.id}')= iuser.nickname
        td: span #{invites[i]}

