extends ../withsidebar

block fixed-buttons
  .btn-group
    button#btn-refresh.btn.btn-float
      span.glyphicon.glyphicon-refresh
    a#btn-newpost.btn.btn-default.btn-float(href='/topic/create')
      span.glyphicon.glyphicon-plus

block main
  //- form(style='padding:5px 10px;')
  //-   .input-group
  //-     input.form-control
  //-     span.input-group-btn
  //-       button.btn.btn-default 搜索
  .btn-group.pull-right
    a.mb-hide.btn.btn-primary(href="/topic/create?gid=#{group.id}") 发帖
    if isGroupMember
      a.btn.btn-default(href="/g/#{group.id}/admin") 管理
    else
      form(action='/g/#{group.id}/join', method='post')
        button.btn.btn-primary(type='submit') 加入

  ol.breadcrumb
    li: a(href='/') 首页
    li.active 
      span(style='color:#cc66cc;') #{group.id}
      &nbsp;
      span #{group.name}

  .list-group
    if topics.length
      each topic in topics
        a.list-group-item(href='/t/#{topic.id}')
          p.list-group-item-text= topic.txt
    else
      .fixw-sm.center-block
        a.btn.btn-primary.btn-block.side-control(href='/topic/create?gid=#{group.id}') 在 [#{group.name}] 发布第一个贴子
