extends ../withsidebar
block main
  ol.breadcrumb
    li: a(href='/') 首页
    li: a(href='/g/#{group.id}')= group.name
    li: a(href='/g/#{group.id}/admin') 管理
    li.active 我的英雄帖

  a.btn.btn-primary(href='/g/#{group.id}/refstats') 我的英雄帖
  a.btn.btn-primary(href='/g/#{group.id}/members') 成员管理

  ul.list-group
  each refInfo in refList
    li.list-group-item
      a(href='#{baseUrl}/gr/#{refInfo.code}')= refInfo.remark ? refInfo.remark : '详情'
      input.form-control(value='#{baseUrl}/gr/#{refInfo.code}')
      if refInfo.total > 0
        p #{refInfo.left} / #{refInfo.total}
      p 已有#{refInfo.accept}人接受此邀请

  .well
    form(action='/g/#{group.id}/makeref', method='post')
      .form-group
        label(for='InputCount') 受邀人数限制
        input#InputCount.form-control(name='count', value=0)
        .help-block 你可以限制某个英雄帖可以限制使用次数，不限使用次数请输入0
      .form-group
        label(for='InputRemark') 备注
        input#InputRemark.form-control(name='remark', value='')
        .help-block 你可以创建多个英雄帖投放在不同的地方，备注可以用来标注这些来源. 如：“老三班QQ群”
      button#submitButton.btn.btn-success.btn-block(type='submit') 创建英雄帖
