mixin topiclist(topics)
  each topic in topics
    .list-group-item.clickable(onclick="javascript:location.href='/t/#{topic.id}'")
      p.list-group-item-text
        a.pull-left(href='/u/#{topic.uid}')= topic.author.nickname
        span :&nbsp;#{shortTxt(topic.txt, 140)}
        p.pull-right.light
          span= humanDate(topic.create)
          &nbsp;
          &nbsp;
          span.glyphicon.glyphicon-comment
          &nbsp;#{topic.replies || '0'}

block variables
- title = title ? 'mytxtbbs-' + title : 'mytxtbbs'
doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/config-dev.js')
    script(src='/js/util.js')
    script(src='/fastclick/lib/fastclick.js')
    script(src='/js/bootstrap-validation.js')
    script(src='/js/protocol.js')
    script(src='/js/main.js')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=no')
    script
      var nickname = '#{user && user.nickname}';
    block head
  body(class=bodyClass, data-page=bodyClass)
    block content
    script.
      main()
